*{box-sizing: border-box;font-family: "PingFang Sc",'Helvetica Neue',Arial;}
body{color: #2d3c49;}
a{color:#2d3c49;}
img{max-width: 100%}
hr{
    height: 3px;
    background-color: #7d97ad;
}
.text-muted{
    font-size: 20px;
}
.text-light{
    font-weight: 300;
}
.text-title{
    font-weight: 100;
    font-size: 60px;
}
.sm-title{
    font-size: 20px;
}
.ft-light{
    color: #7d97ad;
}
.container{
    max-width: 800px;
    margin: 0 auto;
}
.logo{
    margin-top: 20px;
    width: 60px;
}

/*bootstrap 关闭按钮样式*/
.modal-header .close {
    margin-top: -2px;
}
button.close {
    -webkit-appearance: none;
    padding: 0;
    cursor: pointer;
    background: 0 0;
    border: 0;
}
.close {
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2;
}
