*{box-sizing: border-box;font-family: "PingFang Sc",'Helvetica Neue',Arial;}
body{color: #2d3c49;}
a{color:#2d3c49;}
img{max-width: 100%;height: auto;}
hr{
    height: 3px;
    background-color: #7d97ad;
}
.text-muted{
    font-size: 20px;
}
.text-light{
    font-weight: 300;
}
.text-title{
    font-weight: 100;
    font-size: 60px;
}
.sm-title{
    font-size: 20px;
}
.ft-light{
    color: #7d97ad;
}
.container{
    max-width: 930px;
    margin: 0 auto;
}
.logo{
    margin-top: 20px;
    width: 60px;
}
